name: sprawozdanie_project

on:
    push:
        paths:
            - "labs/project/**"

jobs:
    job:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4

            - name: Install dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y inkscape pandoc texlive-xetex
                  pip install ipykernel nbconvert open-atmos-jupyter-utils scipy matplotlib numpy pympdata pint==0.24.4 scienceplots pandas

            - name: Convert notebook to PDF
              run: |
                  python -m nbconvert --to pdf --execute labs/project/main.ipynb

            - name: Upload artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: project_artifacts
                  path: |
                      labs/project/symbols.pdf
                      labs/project/test_3D.pdf
                      labs/project/test_result.pdf
                      labs/project/one_step_3D.pdf
                      labs/project/one_step_result.pdf
                      labs/project/two_step_3D.pdf
                      labs/project/two_step_result.pdf
                      labs/project/two_step_t_result.pdf
                      labs/project/two_step_x_result.pdf
                      labs/project/main.pdf
